section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h1 {
  width: 100%;
  text-align: center;
  background-color: dodgerblue;
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type='text'] {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.btn {
  text-align: center;
  color: white;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px black solid;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.loading_modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* 
loading action css
refer : https://loading.io/css/
*/

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
