<!DOCTYPE html>
<html>
<head>
    <title>sample</title>
    <link rel="stylesheet" href="camera_sample.css">

</head>
<body>
<video id="video" autoplay></video>
<button id = "start">start</button>
<button id = "stop">stop</button>
<button id = "screenshot">take photo</button><br>
<span>Preview</span>
<audio id = "audio" autoplay></audio>
<span id = "error"></span>
<img src = "" id = "previewScreenshot">
<video id = "preview" autoplay loop></video>


<script src = "../assets/ipc/androidjs.js"></script>
<script src="camera_sample.js"></script>
</body>
</html>
